<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>JEE_Lab3</display-name>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.example.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.example.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminConsoleServlet</servlet-name>
		<servlet-class>com.example.servlet.AdminConsoleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCurrencyManagementServlet</servlet-name>
		<servlet-class>com.example.servlet.AdminCurrencyManagementServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>AdminRateManagementServlet</servlet-name>
        <servlet-class>com.example.servlet.AdminRateManagementServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminConsoleServlet</servlet-name>
		<url-pattern>/admin/management</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCurrencyManagementServlet</servlet-name>
		<url-pattern>/admin/management/currency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>AdminRateManagementServlet</servlet-name>
        <url-pattern>/admin/management/rate</url-pattern>
    </servlet-mapping>
</web-app>